<div class="bg-dark bg-opacity-75">
    <div class="container col-xxl-8 px-4 py-5">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
            <div class="col-10 col-sm-8 col-lg-6">
                <img src="https://images.ecestaticos.com/QI4v8gVu3bjJn_Tahup3qMdVKP4=/0x108:2121x1302/1600x900/filters:fill(white):format(jpg)/f.elconfidencial.com%2Foriginal%2Fa22%2F9b2%2Fd8f%2Fa229b2d8f9880dea3540477223572606.jpg" class="mx-lg-auto">
            </div>
            <div class="col-lg-6">
                <h1 class="display-5 fw-bold lh-1 mb-3 text-light">HOME TRAINING</h1>
                <p class="lead text-light">App creada para entrenamientos en casa sin necesidad de equipos. Sólo con tu propio cuerpo.
                    Conseguirás mayor fuerza y un mejor control de tu cuerpo.
                </p>
                <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                    <button type="button" class="btn btn-light btn-lg px-4 me-md-2" [routerLink]="['/blog']">Visita nuestro blog</button>
                    <button type="button" class="btn btn-warning btn-lg px-4" [routerLink]="['/register']">Registrate ya!</button>
                </div>
            </div>
        </div>
    </div>
</div>